<div style="margin-top: 15px; margin-bottom: 5px; text-align: center; font-size: 1em; font-weight: 900;">
    <p>sbc | Generated with version {{version}} on {{date}}</p>
</div>
<hr>
<div class="statblockContainer" style="margin-top: 15px">
    <p>{{{preview}}}</p>
</div>
<br>
<hr>
<div class="rawInputContainer" style="margin-top: 15px;">
    <h2 style="text-align:middle; border: none; text-transform: uppercase; color: #000;">
    RAW INPUT
    </h2>
    <hr>
    <pre style="white-space: pre-wrap; font-size: 14px;">
    {{rawInput}}
    </pre>
</div>