<div class="sbcStatBlock">
  <hr class="sbcBorder" />
  <div style="padding: 5px;">
    <h1>{{actor.name}}
      <ul class="sbcSlashList">
        {{#if notes.base.cr}}
          <li>{{localize 'PF1.ChallengeRatingShort'}} {{notes.base.cr}}</li>{{/if}}
        {{#if notes.base.mr}}
          <li>{{localize 'SBCPF1.preview.MR'}} {{notes.base.mr}}</li>{{/if}}
      </ul>
    </h1>
    {{#if notes.base.shortDescription}}
      <div><em>{{notes.base.shortDescription}}</em></div>
    {{/if}}
    <!-- BASE -->
    <hr />
    <div class="sbcSection" data-content="base">
      {{#if notes.base.source}}<strong>{{localize 'PF1.Source'}}</strong> {{notes.base.source}}<br />{{/if}}
      {{#if notes.base.xp}}<strong>{{localize 'SBCPF1.preview.XP'}}</strong> {{notes.base.xp}}<br />{{/if}}

      {{#if actor.system.details.age}}{{actor.system.details.age}} {{/if}}
      {{#if actor.system.details.gender}}{{actor.system.details.gender}} {{/if}}
      {{#if notes.base.template}}{{notes.base.template}} {{/if}}
      {{#if notes.base.race}}{{notes.base.race}} {{/if}}
      {{#if notes.base.classes}}
        <ul class="sbcSlashList" data-content="classes">
          {{#each notes.base.classes}}
            <li>{{this}}</li>{{/each}}
        </ul>
      {{/if}}{{#if notes.creatureType}}<br />{{/if}}
      {{#if notes.base.alignment}}{{notes.base.alignment}} {{/if}}
      {{#if notes.base.size}}{{notes.base.size}} {{/if}}
      {{#if notes.creatureType}}{{notes.creatureType.type}} {{#if notes.creatureType.subTypes}}
        <ul class="sbcCommaList sbcParensWrappedList">
          {{#each notes.creatureType.subTypes}}
            {{#if this}}<li>{{this}}</li>{{/if}}
          {{/each}}
        </ul>{{/if}}{{/if}}<br />
      <ul class="sbcSemicolonList">
        <li><strong>{{localize 'SBCPF1.preview.Init'}}</strong> {{#if (gte actor.system.attributes.init.total 0)}}
          +{{/if}}{{actor.system.attributes.init.total}}</li>
        {{#if notes.base.senses}}
          <li>
            <strong>{{localize 'PF1.Senses'}}</strong>
            <ul class="sbcCommaList" data-content="senses">
              {{#each notes.base.senses}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
        {{/if}}
        {{#if notes.base.perception}}
          <span><strong>{{localize 'PF1.SkillPer'}}</strong> {{notes.base.perception}}</span>
        {{/if}}
      </ul>
      <br />
      {{#if notes.aura}}
        <strong>{{localize 'PF1.Aura.Single'}}</strong>
        <ul class="sbcCommaList" data-group="auras">
          {{#each notes.aura}}
            <li>
              {{this.name}}
              <ul class="sbcCommaList sbcParensWrappedList">
                {{#if this.dc}}
                  <li>{{#if this.saveType}}{{this.saveType}}{{/if}}{{localize 'PF1.DC'}} {{this.dc}}{{#if
                    this.dcNotes}}{{this.dcNotes}}{{/if}}</li>{{/if}}
                {{#if this.range}}
                  <li>{{this.range}}</li>{{/if}}
                {{#if this.effect}}
                  <li>{{this.effect}}</li>{{/if}}
              </ul>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
    <div class="sbcSection" data-content="defense">
      <h4>{{localize 'PF1.Defense'}}</h4>
      <hr />
      <ul class="sbcCommaList">
        <li><strong>{{localize 'PF1.ACNormal'}}</strong> {{notes.defense.acNormal}}</li>
        <li><strong>{{localize 'PF1.ACTouch'}}</strong> {{notes.defense.acTouch}}</li>
        <li><strong>{{localize 'PF1.ACFlatFooted'}}</strong> {{notes.defense.acFlatFooted}}</li>
      </ul>
      {{#if notes.defense.acTypes}}
        <ul class="sbcParensWrappedList sbcCommaList" data-group="armor">
          {{#each notes.defense.acTypes}}
            <li>{{this.value}} {{this.type}}</li>
          {{/each}}
        </ul>
      {{/if}}
      <br />
      <ul class="sbcSemicolonList">
        <li>
          <strong>{{localize 'PF1.HitPoints'}}</strong> {{notes.defense.hpTotal}}
          ({{notes.defense.hdTotal}} {{localize 'PF1.HitDieShort'}}; {{notes.defense.hdPool}})
        </li>
        {{#if notes.defense.hdAbilities}}
          <li>{{notes.defense.hdAbilities}}</li>
        {{/if}}
      </ul>
      <br />
      <ul class="sbcSemicolonList">
        <li>
          <ul class="sbcCommaList" data-content="saves">
            <li><strong>{{localize 'SBCPF1.preview.Fort'}}</strong> {{notes.defense.fortSave}}</li>
            <li><strong>{{localize 'SBCPF1.preview.Ref'}}</strong> {{notes.defense.refSave}}</li>
            <li><strong>{{localize 'SBCPF1.preview.Will'}}</strong> {{notes.defense.willSave}}</li>
          </ul>
        </li>
        {{!-- {{#if actor.system.attributes.saveNotes}}
          <li>{{actor.system.attributes.saveNotes}}</li>
        {{/if}} --}}
        {{#if notes.defense.saveNotes}}
          <li>{{notes.defense.saveNotes}}</li>
        {{/if}}
      </ul>
      <br />
      <ul class="sbcSemicolonList">
        {{#if notes.defense.defensiveAbilities}}
          <li>
            <strong>{{localize 'SBCPF1.preview.DefensiveAbilities'}}</strong>
            <ul class="sbcCommaList" data-content="defensive-abilities">
              {{#each notes.defense.defensiveAbilities}}
                <li>{{this.name}}{{#if this.subParts}}
                  <ul class="sbcCommaList sbcParensWrappedList">
                    {{#each this.subParts}}
                      <li>{{this}}</li>
                    {{/each}}
                  </ul>{{/if}}</li>
              {{/each}}
            </ul>
          </li>
        {{/if}}
        {{#if notes.defense.dr}}
          <li>
            <strong>{{localize 'SBCPF1.preview.DR'}}</strong>
            <ul class="sbcCommaList" data-content="dr">
              {{#each notes.defense.dr}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
        {{/if}}
        {{#if notes.defense.immune}}
          <li>
            <strong>{{localize 'PF1.Immune'}}</strong>
            <ul class="sbcCommaList" data-content="immune">
              {{#each notes.defense.immune}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
        {{/if}}
        {{#if notes.defense.resist}}
          <li>
            <strong>{{localize 'SBCPF1.preview.Resist'}}</strong>
            <ul class="sbcCommaList" data-content="resist">
              {{#each notes.defense.resist}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </li>
        {{/if}}
        {{!-- {{#if actor.system.attributes.sr.formula}}
          <li>
            <strong>SR</strong> {{actor.system.attributes.sr.formula}}
            {{#if actor.system.attributes.srNotes}} ({{actor.system.attributes.srNotes}}){{/if}}
          </li>
        {{/if}} --}}
        {{#if notes.defense.sr}}
          <li>
            <strong>SR</strong> {{notes.defense.sr}}
            {{#if notes.defense.srNotes}} ({{notes.defense.srNotes}}){{/if}}
          </li>
        {{/if}}
      </ul>
      {{#if notes.defense.weakness}}
        <br /><strong>{{localize 'SBCPF1.preview.Weaknesses'}}</strong> {{notes.defense.weakness}}
      {{/if}}
    </div>
    <div>
      <div class="sbcSection" data-content="offense">
        <h4>{{localize 'SBCPF1.preview.Offense'}}</h4>
        <hr />
        <strong>{{localize 'PF1.Movement.Speed'}}</strong>
        <ul class="sbcCommaList" data-content="speed">
          {{#each notes.offense.speed}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
        <br />
        {{#if notes.offense.melee}}
          <strong>{{localize 'PF1.Melee'}}</strong> {{notes.offense.melee}}<br />
        {{/if}}
        {{#if notes.offense.ranged}}
          <strong>{{localize 'PF1.Ranged'}}</strong> {{notes.offense.ranged}}<br />
        {{/if}}
        <ul class="sbcSemicolonList">
          {{#if notes.offense.space}}
            <li><strong>{{localize 'SBCPF1.preview.Space'}}</strong> {{notes.offense.space}}</li>
          {{/if}}
          {{#if notes.offense.reach}}
            <li><strong>{{localize 'PF1.Distance.reach'}}</strong> {{notes.offense.reach}}{{#if
              notes.offense.reachContext}} ({{notes.offense.reachContext}}){{/if}}</li>
          {{/if}}
        </ul>
        {{#if notes.offense.reach}}<br />{{/if}}
        {{#if notes.offense.specialAttacks}}
          <strong>{{localize 'SBCPF1.preview.SpecialAttacks'}}</strong>
          <ul class="sbcCommaList" data-content="special-attacks">
            {{#each notes.offense.specialAttacks}}
              <li>{{this.name}}{{#if this.subParts}}
                <ul class="sbcCommaList sbcParensWrappedList">
                  {{#each this.subParts}}
                    <li>{{this}}</li>
                  {{/each}}
                </ul>{{/if}}</li>
            {{/each}}
          </ul>
          <br />
        {{/if}}
      </div>
    </div>
    <!-- SPELLCASTING -->
    {{#if notes.offense.spellBooks}}
      <div class="sbcSection">
        {{#each notes.offense.spellBooks}}
          <div class="spellBook">
            <strong>{{this.name}}</strong>

            <ul class="sbcParensWrappedList sbcSemicolonList">
              <li>{{localize "PF1.CasterLevelAbbr"}} {{this.cl}}</li>
              <li>{{localize "PF1.Concentration"}} {{this.concentration}}</li>
              {{#if this.asf}}
                <li>{{localize "SBCPF1.preview.ASF"}} {{this.asf}}%</li>{{/if}}
            </ul>
            <ul class="sbcSpellList">
              {{#each this.spellRows}}
                <li>
                  {{#if this.frequency}}
                    {{#if this.frequency.amount}}{{this.frequency.amount}}/{{/if}}{{this.frequency.type}}
                  {{else}}
                    {{this.level}}{{this.levelEnum}}{{#if (eq this.level 0)}}
                    ({{localize 'SBCPF1.spellFrequencyNoun.atWill'}}){{/if}}
                  {{/if}}
                  —
                  <ul class="sbcCommaList sbcItalic">
                    {{#each this.spells}}
                      <li>
                        {{this.name}}{{#if this.domain}}<sup>D</sup>{{/if}}
                        <ul class="sbcParensWrappedList sbcCommaList">
                          {{#if (ne this.prepCount 1)}}
                            <li>{{this.prepCount}}</li>{{/if}}
                          {{#if (ne this.dc -1)}}
                            <li>{{localize 'PF1.DC'}} {{this.dc}}</li>{{/if}}
                        </ul>
                      </li>
                    {{/each}}
                  </ul>
                </li>
              {{/each}}
              {{#if this.specialRow}}
                <strong>{{this.specialRow.label}}</strong> {{this.specialRow.value}}
              {{/if}}
            </ul>
          </div>
        {{/each}}
      </div>
    {{/if}}

    <!-- TACTICS -->
    {{#if notes.tactics.hasTactics}}
      <div class="sbcSection" data-content="tactics">
        <h4>{{localize 'SBCPF1.preview.Tactics'}}</h4>
        <hr />
        {{#if notes.tactics.beforeCombat}}
          <strong>{{localize 'SBCPF1.preview.BeforeCombat'}}:</strong> {{notes.tactics.beforeCombat}}<br />
        {{/if}}
        {{#if notes.tactics.duringCombat}}
          <strong>{{localize 'SBCPF1.preview.DuringCombat'}}:</strong> {{notes.tactics.duringCombat}}<br />
        {{/if}}
        {{#if notes.tactics.morale}}
          <strong>{{localize 'SBCPF1.preview.Morale'}}:</strong> {{notes.tactics.morale}}<br />
        {{/if}}
        {{#if notes.tactics.baseStatistics}}
          <strong>{{localize 'SBCPF1.preview.BaseStatistics'}}:</strong> {{notes.tactics.baseStatistics}}<br />
        {{/if}}
      </div>
    {{/if}}
    <!-- STATISTICS -->
    <div class="sbcSection" data-content="statistics">
      <h4>{{localize 'SBCPF1.preview.Statistics'}}</h4>
      <hr />
      <ul class="sbcCommaList" data-content="attributes">
        <li><strong>{{localize 'PF1.AbilityShortStr'}}</strong> {{#if flags.noStr}}
          —{{else}}{{notes.statistics.str}}{{/if}}</li>
        <li><strong>{{localize 'PF1.AbilityShortDex'}}</strong> {{#if flags.noDex}}
          —{{else}}{{notes.statistics.dex}}{{/if}}</li>
        <li><strong>{{localize 'PF1.AbilityShortCon'}}</strong> {{#if flags.noCon}}
          —{{else}}{{notes.statistics.con}}{{/if}}</li>
        <li><strong>{{localize 'PF1.AbilityShortInt'}}</strong> {{#if flags.noInt}}
          —{{else}}{{notes.statistics.int}}{{/if}}</li>
        <li><strong>{{localize 'PF1.AbilityShortWis'}}</strong> {{#if flags.noWis}}
          —{{else}}{{notes.statistics.wis}}{{/if}}</li>
        <li><strong>{{localize 'PF1.AbilityShortCha'}}</strong> {{#if flags.noCha}}
          —{{else}}{{notes.statistics.cha}}{{/if}}</li>
      </ul>
      <br />
      <ul class="sbcSemicolonList" data-content="base-attack">
        <li><strong>{{localize 'SBCPF1.preview.BaseAtk'}}</strong> +{{actor.system.attributes.bab.total}}</li>
        <li><strong>{{localize 'PF1.CMBAbbr'}}</strong> {{#if flags.hasNoCMB}}—{{else}}{{#if
          (gt actor.system.attributes.cmb.total -1)}}+{{/if}}{{actor.system.attributes.cmb.total}}{{/if}}{{#if
          notes.statistics.cmbContext}}{{notes.statistics.cmbContext}}{{/if}}</li>
        <li>
          <strong>{{localize 'PF1.CMDAbbr'}}</strong>
          {{#if flags.hasNoCMD}}—{{else}}{{actor.system.attributes.cmd.total}}{{/if}}
          {{#if notes.statistics.cmdContext}}{{notes.statistics.cmdContext}}{{/if}}
        </li>
      </ul>
      <br />
      {{#if notes.statistics.feats}}
        <strong>{{localize 'PF1.FeatPlural'}}</strong>
        <ul class="sbcCommaList" data-content="feats">
          {{#each notes.statistics.feats}}
            <li>{{this.name}}{{#if this.subParts}}
              <ul class="sbcCommaList sbcParensWrappedList">
                {{#each this.subParts}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>{{/if}}</li>
          {{/each}}
        </ul>
        <br />
      {{/if}}
      {{#if notes.statistics.skills}}
        <strong>{{localize 'PF1.Skills'}}</strong>
        <ul class="sbcCommaList" data-content="skills">
          {{#each notes.statistics.skills}}
            <li>{{this.name}} {{this.prefixedValue}}{{#if this.context}} ({{this.context}}){{/if}}</li>
          {{/each}}
        </ul>
        {{#if notes.statistics.racialSkillModifiers}}
          ; <strong>{{localize 'SBCPF1.preview.RacialModifiers'}}</strong>
          <ul class="sbcCommaList" data-content="racial-modifiers">
            {{#each notes.statistics.racialSkillModifiers}}
              <li>{{this.prefixedValue}} {{this.name}}{{#if this.context}} {{this.context}}{{/if}}</li>
            {{/each}}
          </ul>
        {{/if}}
        <br />
      {{/if}}
      {{#if notes.statistics.languages}}
        <strong>{{localize 'PF1.Languages'}}</strong>
        <ul class="sbcCommaList" data-content="languages">
          {{#each notes.statistics.languages}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
        <br />
      {{/if}}
      {{#if notes.statistics.sq}}
        <strong>{{localize 'SBCPF1.preview.SQ'}}</strong>
        <ul class="sbcCommaList" data-content="sq">
          {{#each notes.statistics.sq}}
            <li>{{this.name}}{{#if this.subParts}}
              <ul class="sbcCommaList sbcParensWrappedList">
                {{#each this.subParts}}
                  <li>{{this}}</li>
                {{/each}}
              </ul>{{/if}}</li>
          {{/each}}
        </ul>
        <br />
      {{/if}}
      {{#if notes.statistics.gear}}
        <strong>{{localize 'SBCPF1.preview.Gear'}}</strong>
        <ul class="sbcCommaList">
          {{#each notes.statistics.gear}}
            <li>{{this.name}}{{#if (ne this.quantity 1)}} ({{this.quantity}}){{/if}}{{#if this.charges}} ({{this.charges}} {{localize "PF1.ChargePlural"}}){{/if}}</li>
          {{/each}}
        </ul>
        <br />
      {{/if}}
    </div>
    <!-- ECOLOGY -->
    {{#if notes.ecology.hasEcology}}
      <div class="sbcSection" data-content="ecology">
        <h4>{{localize 'SBCPF1.preview.Ecology'}}</h4>
        <hr />
        {{#if notes.ecology.environment}}
          <strong>{{localize 'SBCPF1.preview.Environment'}}</strong> {{notes.ecology.environment}}<br />
        {{/if}}
        {{#if notes.ecology.organization}}
          <strong>{{localize 'SBCPF1.preview.Organization'}}</strong> {{notes.ecology.organization}}<br />
        {{/if}}
        {{#if notes.ecology.treasure}}
          <strong>{{localize 'SBCPF1.preview.Treasure'}}</strong> {{notes.ecology.treasure}}<br />
        {{/if}}
      </div>
    {{/if}}
    <!-- SPECIAL ABILITIES -->
    {{#if notes.specialAbilities}}
      <div class="sbcSection" data-content="special-abilities">
        <h4>
          {{localize 'SBCPF1.preview.SpecialAbilities'}}
        </h4>
        <hr />
        {{#each notes.specialAbilities}}
          <p><strong>{{this.name}}{{#if (ne this.type "na")}} ({{this.typeName}}){{/if}}</strong> {{this.description}}
          </p>
        {{/each}}
      </div>
    {{/if}}

    <!-- DESCRIPTION -->
    {{#if notes.description.long}}
      <div class="sbcSection" data-content="description">
        <h4>
          {{localize 'PF1.Description'}}
        </h4>
        <hr />
        <div class="sbcPreWrap">{{notes.description.long}}</div>
      </div>
    {{/if}}

  </div>
  <hr class="sbcBorder" />
</div>