@borderWidthStandard: 1px;
@borderTypeStandard: solid;
@borderColorStandard: #000000;
@borderStandard: @borderWidthStandard @borderTypeStandard @borderColorStandard;
@borderRadiusStandard: 5px;
@borderWidthWide: 2px;
@borderWide: @borderWidthWide @borderTypeStandard @borderColorStandard;

@paddingMedium: 5px;

@colorError: #880000;
@colorSuccess: #008800;

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

#startSBCButton {
  margin-top: @paddingMedium;
}

#sbcModal {
  flex: 0 1 auto;

  .sbcContainer {
    display: flex;
    flex-wrap: wrap;

    .progressBarContainer {
      background: rgba(0, 0, 0, 0.1);
      flex: 1 1 100%;
      margin: -8px -8px 8px -8px;
      height: 25px;

      .progressBar {
        width: 0;
        height: 25px;
        animation: progress-bar-stripes 2s linear infinite forwards;
        background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0) 75%);
        background-size: 40px 40px;
        animation-play-state: running;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;

        .progressValue {
          display: inline-block;
          transition: all ease-in-out 250ms;
          text-transform: uppercase;
          font-weight: 900;
        }

        &.error {
          animation-play-state: paused;
          color: #fff;
          width: 100% !important;
          background: @colorError;
        }

        &.ready {
          animation-play-state: paused;
          color: #fff;
          width: 100% !important;
          background: @colorSuccess;
        }
      }
    }

    #sbcHeaders {
      width: 100%;
      padding-bottom: @paddingMedium;
      border-bottom: @borderWide;

      .sbcHeader {
        &:first-child {
          div:not(:first-child) {
            font-size: 0.9em;
          }
        }

        &.sbcButtons {
          .actorTypeToggle {
            text-align: center;
            margin: 0 2.5% @paddingMedium;
            border: @borderStandard;
            border-radius: @borderRadiusStandard;

            label.checkbox {
              cursor: pointer;

              input {
                cursor: pointer;
              }
            }
          }

          .flexrow {
            margin: 0 2.5%;

            #sbcImportButton, #sbcResetButton {
              border: @borderStandard;
              width: 45%;
              color: #000000;
              letter-spacing: 2px;
              margin: 0;
              text-transform: uppercase;
            }

            #sbcImportButton {
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
              border-right: 0;

              &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
              }
            }

            #sbcResetButton {
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
            }
          }
        }
      }
    }

    .sbcTitle {
      font-size: 16px;
      text-transform: uppercase;

      &.errorTitle {
        color: @colorError;
      }
    }

    .sbcInputContainer {
      flex: 1 1 50%;
      flex-flow: row nowrap;
      padding: @paddingMedium;

      .sbcInputArea {
        font-size: 14px;
        font-family: monospace;
        height: 450px;
        display: flex;
        position: relative;

        #sbcBackdrop {
          overflow: auto;
          position: absolute;
          height: 450px;
          font-size: 14px;
          padding: 1em 1em 1em 2em;
          width: 100%;
          display: flex;
          border: 1px solid transparent;

          &::-webkit-scrollbar {
            display: none;
          }

          .sbcHighlights {
            counter-reset: line;
            white-space: pre-wrap;
            word-wrap: break-word;
            color: transparent;
            font-size: 14px;
            width: 100%;
            display: flex;
            font-family: monospace;

            .lineNumbers {
              flex-grow: 0;

              &::before {
                counter-increment: line;
                content: counter(line);
                font-size: 1em;
                user-select: none;
                text-align: right;
                left: 0.5em;
                color: #616161;
                position: absolute;
              }

              &:last-child {
                padding-bottom: 1em;
              }
            }

            .marked {
              color: transparent;
              background-color: #FFFF00;
            }
          }
        }

        .sbcInput {
          position: absolute;
          height: 450px;
          resize: none;
          font-size: 14px;
          padding: 1em 1em 1em 2em;
          width: 100%;
          display: flex;

          border: @borderStandard;
          border-radius: @borderRadiusStandard;
        }
      }
    }

    .sbcPreviewContainer {
      flex: 1 1 50%;
      flex-flow: row nowrap;
      padding: @paddingMedium;

      .sbcPreview {
        border: @borderStandard;
        border-radius: @borderRadiusStandard;

        overflow: auto;
        max-height: 450px;
        height: 450px;
        resize: none;
      }
    }

    .sbcErrorContainer {
      margin: @paddingMedium;
      color: @colorError;
      border: @borderWidthStandard @borderTypeStandard @colorError;
      border-radius: @borderRadiusStandard;
      overflow: auto;
      padding: @paddingMedium;
      height: 20%;
      width: 100%;

      .sbcErrors {
        user-select: none;
        margin-left: 50px;
      }
    }
  }


}

.sbcStatBlock {
  width: 100%;
  background-color: #ffe9c7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  columns: 2 150px;

  h1 {
    border: none;
    font-family: 'Nodesto', 'Signika', 'Palatino Linotype', serif;
    color: #7a0800;
  }

  h4 {
    border: none;
    text-transform: uppercase;
    color: #7a0800;
    padding-top: 6px;
  }

  div.sbcPreWrap {
    white-space: pre-wrap;
  }

  .sbcSection {
    break-inside: avoid;
  }

  hr {
    &:not(.sbcBorder) {
      margin-left: 0;
      width: 275px;
      height: 0;
      border-style: solid;
      border-width: 2px 0 2px 275px;
      border-color: transparent transparent transparent #7a0800;
    }

    &.sbcBorder {
      margin-left: 0;
      margin-top: -2px;
      width: 100%;
      height: 4px;
      background-color: #e0a100;
      border: 1px solid #000;
      column-span: all;
    }
  }

  .sbcSpellList {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }

  .sbcItalic {
    font-style: italic;
  }

  :is(.sbcSlashList, .sbcCommaList, .sbcSemicolonList) + :is(.sbcSlashList, .sbcCommaList, .sbcSemicolonList, strong) {
    margin-left: 0.2em;
  }

  :is(.sbcSlashList, .sbcCommaList, .sbcSemicolonList) {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0 -0.2em 0 0;

    > li {
      display: inline;
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }

  .sbcParensWrappedList:not(:empty) {
    > li:first-child:before {
      content: "(";
    }

    > li:last-child:after {
      content: ")";
    }
  }

  .sbcSlashList {
    > li:not(:first-child) {
      margin-left: -0.2em;
    }

    > li:not(:first-child):before {
      content: "/";
    }
  }

  .sbcCommaList {
    > li:not(:last-child):after {
      content: ", ";
    }
  }

  .sbcSemicolonList {
    > li:not(:last-child):after {
      content: "; ";
    }
  }
}

.sbcSelectableError {
  user-select: text;
  padding: @paddingMedium;
  border-radius: @borderColorStandard;
  line-height: 2;
  background: grey;
  color: #000000;
}

.sbcVisible {
  visibility: visible;
}

.sbcOpenModalButton {
  flex: 0 1 auto;
  width: 25%;
  margin: 0 1px;
  background: rgba(255, 255, 240, 0.8);
  border: 1px solid #b5b3a4;
  font-size: 14px;
  line-height: 28px;
  font-family: "Signika", sans-serif;
  padding-left: 10px;

  &:hover {
    box-shadow: 0 0 5px @colorError;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    color: #4b4a44;
    box-shadow: none;
  }

  > i {
    margin-right: 3px;
  }
}

.actorTypeToggle-case {
  display: inline-block;
  background: none;
  width: 43%;
  height: 100%;
  color: #000000;
  position: relative;
  border: none;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 3px;
  line-height: 1;
}

.identicalErrorIndicator {
  background-color: @colorError;
  color: #ffffff;
  border-radius: 15px;
  padding: 0 @paddingMedium;
  margin-right: @paddingMedium;
  margin-left: -55px;
  visibility: hidden;

  &.active {
    visibility: visible;
  }
}